*

!.gitignore
!.gitattributes
!*.yml
!*.md
!Makefile

!/generate.cr
!/save_docs.cr
!/logo.png
!*.sh
!/*.cmd

!/src/
!/src/*/
!/src/**/*.cr
!/src/**/*.cpp

!/docs/
!/docs/*.diff

!/examples/
!/examples/*.cr
/examples/_*.cr
!/examples/resources/
!/examples/resources/**
!/examples/lib/
!/examples/lib/*

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml.jinja
!/.github/workflows/generate.py
